extends templates/head

block append links
    link(rel='stylesheet' href='/static/stylesheets/account.css')

block content
    main
        header
            h2 Balance: #{balance}
            h2 Your transfers
        table
            thead
                tr
                    th(scope="col") ID
                    th(scope="col") Sender
                    th(scope="col") Receiver
                    th(scope="col") Amount
                    th(scope="col") Date time
            tbody
                each transfer in transfers
                    tr
                        td
                            a(href=`/account/transfer/${transfer.id}`)= transfer.id
                        td= transfer.senderemail
                        td= transfer.receiveremail
                        td= transfer.amount
                        td= transfer.datetime.toLocaleString()