extends templates/head

block append links
    link(rel='stylesheet' href='/static/stylesheets/account.css')

block content
    main
        header
            h2 Admin panel
        table
            thead
                tr
                    th(scope="col") ID
                    th(scope="col") Status
                    th(scope="col") Sender
                    th(scope="col") Receiver
                    th(scope="col") Title
                    th(scope="col") Amount
                    th(scope="col") Date time
            tbody
                each transfer in transfers
                    tr
                        td
                            a(href=`/admin/transfer/${transfer.id}`)= transfer.id
                        td= transfer.status
                        td= transfer.sender
                        td= transfer.receiver
                        // UNESCAPED BUFFERED CODE - INSECURE, ALLOWS TO TEST XSS
                        td!= transfer.title
                        td= transfer.amount
                        td= transfer.datetime.toLocaleString()