extends templates/head

block append links
    link(rel='stylesheet' href='/static/stylesheets/transferDetails.css')

block append scripts
    script(src='/static/js/transferDetails.js')

block content
    main
        header
            h2 Transfer #{transfer.id}
        table
            tbody
                tr
                    td Sender
                    if admin
                        td= transfer.sender
                    else
                        td= transfer.senderemail
                tr
                    td Receiver
                    if admin
                        td= transfer.receiver
                    else
                        td= transfer.receiveremail
                tr
                    td Title
                    // UNESCAPED BUFFERED CODE - INSECURE, ALLOWS TO TEST XSS
                    td!= transfer.title
                tr
                    td Amount
                    td= transfer.amount
                tr
                    td Datetime
                    td= transfer.datetime.toLocaleString()
        if canAccept
            div
                button#accept Accept transfer
                button#cancel Cancel transfer
        footer